rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isSignedIn() {
      return request.auth != null;
    }

    match /products/{productId} {
      // Any signed-in user can read and write any product.
      allow read, write: if isSignedIn();
      
      match /rates/{rateId} {
        // Any signed-in user can read and write rates for any product.
        allow read, write: if isSignedIn();
      }
    }
  }
}
